<div class="sidebar">
  <div class="container">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p>{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>
      
      <a class="sidebar-nav-item" href="/about/">About</a>
      <a class="sidebar-nav-item" href="/travel/">Travel</a>
      <a class="sidebar-nav-item" href="/wedding/">Wedding</a>
      <a class="sidebar-nav-item" href="/weekend_schedule/">Weekend Schedule</a>
      <a class="sidebar-nav-item" href="/wedding_party/">Wedding Party</a>
      <a class="sidebar-nav-item" href="/registry/">Registry</a>
      <a class="sidebar-nav-item" href="/honeymoon/">Honeymoon</a>
    </nav>
  </div>
</div>
